body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to bottom, #121117, #4f5d76);
    height: 100vh;
}
form {
    padding: 50px;
    margin: 0 auto;
    width: 40%;
    height: 500px;
    background-color: rgb(202, 216, 219);
}

table {
    color: #0e347a;
    width: 100%;
}

input {
    background-color: #0e347a;
    margin: 8px 0px;
    width: 95%
}

textarea {
    background-color: #0e347a;
    margin: 5px 0px;
    width: 100%;
}
button{
    color: aliceblue;
    background-color: #0e347a;
    padding: 10px 30px;
}
::placeholder{
    color: aliceblue;
}
.mesangem{
    vertical-align: top;
}